@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
}


/* jquery-slidebox-2 */
#jquery-slidebox-2 {
  width: 300px;
  margin: 0;
  padding: 0px;
  background: #FFF;
  overflow: hidden;
  height:180px;
  z-index: 1020;
}

#jquery-slidebox-2 .handle {
  width: 50px;
  margin: 0;
  padding: 15px 0;
  line-height: 100%;
  background: #ff781e;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  float: left;
}

#jquery-slidebox-2 .contents {
  width: 250px;
  margin: 0;
  padding: 30px 0 35px 0;
  float: right;
}
#jquery-slidebox-2 .contents p {
  margin: 0;
  padding: 0px 35px;
  line-height: 150%;
}

/* jquery-slidebox-4 */
#jquery-slidebox-4 {
  width: 100%;
  margin: 0;
  padding: 0px;
  background: #FFFFFF;
  z-index: 1020;
}

#jquery-slidebox-4 .handle {
  margin: 0;
  padding: 10px 0;
  line-height: 100%;
  background: #0f0053;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

#jquery-slidebox-4 .contents {
  margin: 0;
  padding: 30px 0 35px 0;
}
#jquery-slidebox-4 .contents p {
  margin: 0;
  padding: 0px 35px;
  line-height: 150%;
}

/* main-contents */
div#main-contents {
  margin: 0 0 0 0;
  padding: 50px 0;
  text-align: center;
}

div#main-contents p.box {
  width: 800px;
  margin: 30px auto 0 auto;
  padding: 30px;
  border: solid 20px #CC0000;
  text-align: left;
  line-height: 150%;
}

#news {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}

h2 {
	font-weight: thin;
}

#main {
	background-color: #ff5722;
}

#news {
  background-image:
  linear-gradient(to bottom, rgba(0	, 0, 0, 0.52), rgba(0, 0, 0, 0.73)),
  url('../img/header-img/index-header-bg.jpg');	
  background-size: 100%;
}

  #feedback {
	width: 100%;
	height:100% auto;
  }
  .card{
	  padding: 2px;
	  margin-top: 10px;
  }
  .card-title
  {
	  color: cornflowerblue;
	  margin-top: -20px;
  }
  .card-text{
	  color: rgb(19, 18, 18); 
  }

  #Have-An-Idea p{
	  font-size: 19px;

  }

#maps {
	background-image:
	linear-gradient(to bottom, rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.73)),
	url('../img/who we are bg/1.jpg');	
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#maps .wcus-head { color: #ccc;}
#maps ul li{color: #ccc; text-align: center;}

.vc-1 .iner-list{padding: 5px;border: 1px solid #ccc; height:50px; font-size: 18px; margin-top:4px; background-color:rgba(255, 255, 255, 0.8);}
        .vc-1 .iner-list:hover{border: 4px solid #ccc; cursor: pointer;}
        .vc-1 .iner-list h2{font-size: 100%; text-align: center; margin-top: 8px;font-size: 12px;}
@media only screen and (max-width: 720px) {
	menu {
		width: 100%;
	}
	.hide-leaf,.pgf{
		display: none;
  }
}
